{% extends 'CuisinonsBundle:User:form.html.twig' %}

{% block header %}
{% endblock %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Inscription</h2>
    </div>

    {{ parent() }}
{% endblock %}