{% extends 'CuisinonsBundle:Recette:form.html.twig' %}

{% block carousel %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Modification recette {{ recette.nom }}</h2>
    </div>

    {{ parent() }}
{% endblock %}