{% extends 'CuisinonsBundle:Recette:form.html.twig' %}

{% block carousel %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Modification recette {{ recette.nom }}</h2>
    </div>

    {% if recette.image %}
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <img class="img-responsive" src="{{ asset('uploads/'~recette.image) }}" alt="">
            </div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}