.navbar-brand
{
    padding-top: 10px;
}

.navbar-default
{
    background-color: white;
    min-height: 100px;
}

.navbar-nav, .navbar-form
{
    margin-top: 20px;
}

.carousel-inner
{
    max-height: 500px;
}