.navbar-brand
{
    padding-top: 10px;
}

.navbar-brand img
{
    margin-left: 15px;
}

.navbar-default
{
    background-color: white;
    min-height: 100px;
}

.navbar-nav, .navbar-form
{
    margin-top: 20px;
}

#imageAccueil
{
    background-image: url("../images/caroussel/plat1.jpg");
    background-size: cover;
    height: 500px;
}

#body
{
    margin-top: 20px;
}